html {
  background: #1d2e50;
  width: 100%;  
}

#content {
  margin: 0 auto;
  width: 725px;
  height: 636px;
  text-align: left;
}

.fixed {
  position: absolute;
}

form#auth {
  width: 725px;
  top: 300px;
  text-align: center;
}

form#auth input.empty {
  color: #a21d1d;
  font-size: 10px; *font-size: 9px;
  opacity: 0.65;
  -moz-opacity: 0.65;
  filter: alpha(opacity = 65);
}
   
form#auth input {
  margin: 0 auto;
  width: 230px;
  font-size: 93%;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 8px;
  margin-left: 240px;
  margin-right: 240px;
}

form#auth p#error {
  text-align: center;
  height: 16px;
  color: #a21d1d;
  font-weight: bold;
  font-family: monospace;
  display: none;
}

#form_submit:hover {
  cursor: pointer;
}