.tooltip
{
    cursor: help;
    text-decoration: none;
    position: relative;
}

.toolTipWrapper
{
    border: 1px solid #ebebeb;
    background: #ccc;
    color: black;
    border: 1px solid black;
    width: 175px;
    position: absolute;
    top: 40px;
    color: #FFF;
    font-weight: bold;
    font-size: 9pt;
    padding: 2px;

}